@{
    Layout = null;

}

@model AWEARNESS.Models.Repository.User

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>AWEARNESS</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <meta name="viewport" content="user-scalable=no">
    <link href="~/css/alert_style.css" rel="stylesheet" />
    <link href="~/css/animate.css" rel="stylesheet" />
    <script src="~/js/wow.min.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <script>
    new WOW().init();
    </script>
</head>
<body>
    <img id="icon" src="~/images/icon.png" class="wow fadeOut" data-wow-duration="3s" data-wow-delay="0.5s" />
    <header class="wow fadeIn" data-wow-delay="3.5s">
        <img id="logo" src="~/images/bar-1.svg" />
        <div id="personal">
            <div id="nameArea" style="text-align:center;" >
                <p style="font-family: 'Open Sans', sans-serif;" id="name"></p>
            </div>
        </div>
    </header>
    <main class="wow fadeIn" data-wow-delay="3.5s">
        <input type="text" placeholder="Type your phone number" id="number" /><br>
        <div id="eventSelect">
            <div id="select"><span>Choose Event</span></div>
            <p class="repeat">
                <span>Regular</span>
            </p>
            <p class="repeat">
                <span>Lost</span>
            </p>
            <p class="repeat">
                <span>Fell-Down</span>
            </p>
            <p class="repeat">
                <span>Fainted</span>
            </p>
            <p class="repeat">
                <span>Light-Injury</span>
            </p>
            <p class="repeat">
                <span>Medium-Injury</span>
            </p>
            <p class="repeat">
                <span>Difficult-Injury</span>
            </p>
        </div>
        <p id="alert_btn">
            <img id="alertButton" src="images/alert-1.svg" class="alert_btn" />
        </p>
    </main>
</body>
</html>

<script src="~/js/mainScript.js"></script>
<script>
    var fullname = "@Model.FirstName" + " " + "@Model.LastName";
    $('#name').text(fullname);
    var age = getAge("@Model.Birthday.ToShortDateString()");
    var userID = @Model.PhoneNumber;
    var backgroundImageUrl = '../user/getimage?userid=0' +@Model.PhoneNumber;
    $("#personal").css('background-image', 'url('+backgroundImageUrl+')');
    $('#age').text("Age: " + age);

    $("#alertButton").click(function () {
        $('#eventSelect,#number,#alertButton').addClass('animated bounceOutDown');
    });
    $('#alertButton').one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend', function () {
        $("main").load("Caregiver/CaregiverEvent", function () {
            setOtherDetails("@Model.SpecialInstructions", "@Model.Allergies", "@Model.Diseases", "@Model.Medicines");
       
        });
    });

  
</script>