@model AWEARNESS.Models.Repository.User

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>User</legend>

        @Html.HiddenFor(model => model.PhoneNumber)

        <div class="editor-label">
            @Html.LabelFor(model => model.FirstName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FirstName)
            @Html.ValidationMessageFor(model => model.FirstName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LastName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LastName)
            @Html.ValidationMessageFor(model => model.LastName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Birthday)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Birthday)
            @Html.ValidationMessageFor(model => model.Birthday)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Registration)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Registration)
            @Html.ValidationMessageFor(model => model.Registration)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Email)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Password)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Password)
            @Html.ValidationMessageFor(model => model.Password)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Medicines)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Medicines)
            @Html.ValidationMessageFor(model => model.Medicines)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Diseases)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Diseases)
            @Html.ValidationMessageFor(model => model.Diseases)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Allergies)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Allergies)
            @Html.ValidationMessageFor(model => model.Allergies)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SpecialInstructions)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SpecialInstructions)
            @Html.ValidationMessageFor(model => model.SpecialInstructions)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
